<div class="tasks-container mt-5" >
    <div class="tasks" *ngFor ="let task of sortTasks()" [ngClass]= "task.status ? 'done' : 'not-done' ">
    <div>
        <div class="status" (click)="task.status = !task.status" [ngClass]= "task.status ? 'done' : 'not-done' "></div>
    </div>
    <div class="title ">{{task.title}}</div>
    <div class="difficulty">{{task.priority}}</div>
    <div class="assigned">assigned to: <b>{{task.assignee}}</b></div>
    <div class="runtime"><b>{{task.estimathion}} </b>hrs</div>
    <div>
        <button class= "btn btn-sm btn-dander" (click)="deleteTasks(task)"> — </button>
    </div>
    </div> 
</div>